/*BACKGROUND */

/*
1. Background color
*/
body {
    background-color:color name
}

/*
Opacity / Transparency
The opacity property specifies the opacity/transparency of an element. 
It can take a value from 0.0 - 1.0. The lower value, the more transparent
div {
  background-color: green;
  opacity: 0.3;
}
*/
/*
2.Background Image 
*/

body {
    background-image : link;
}

body {
    background-image:
        url("https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190417124305/250.png");

    background-image: 
        url("paper.gif");
    }

/*
3. Background Repeat-
The background-repeat property sets if/how a background image will be repeated.
By default, a background-image is repeated both vertically and horizontally.
Some images should be repeated only horizontally or vertically, or they will look strange, like this:

Example*/
body {
  background-image: url("gradient_bg.png");
}
/*
CSS background-repeat Horizontally
If the image above is repeated only horizontally (background-repeat: repeat-x;), the background will look better:
*/
body {
  background-image: url("gradient_bg.png");
  background-repeat: repeat-x;
}/*
Tip: To repeat an image only vertically, use background-repeat: repeat-y;

CSS background-repeat: no-repeat
Showing the background image only once is also specified by the background-repeat property:

Example
Show the background image only once:
*/
body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
}

/*
4. Background Position

Background-position Property
The background-position property in CSS is used to set the starting position of the background 
image within the element. You can use values like top, left, center, or specify exact pixel/percentage values 
to position the image.

Syntax:*/
body {
    background-repeat:no repeat;
    background-position:left top;
}

/*
5. Background Attachment


The background-attachment property in CSS specifies how the background image behaves when the user scrolls the page. By setting the value to fixed, the background image stays in place while the content of the page scrolls.
*/
body {
    background-attachment: fixed;
}

body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}

/*BACKGROUND SHORTHAND*/

body {
  background: #ffffff url("img_tree.png") no-repeat right top;
}
