/*CSS UNITS

two types-
1-
absolute units -cm,mm, px ,inch etc have fixed values and do not change based on the viewport or parent elements 

2-
relative units-

1-em
The em unit is relative to the font size of the parent element.
*/
body {
  font-size: 16px; /* Base font size */
}

h1 {
  font-size: 2.5em; /* 2.5 * 16 = 40px */
}

/*2-rem-
rem always refers to the font-size of the <html> element, regardless of its position in the document tree. 
*/
html {
  font-size: 16px; /* Set the root font size */
}

h1 {
  font-size: 2.5rem; /* 2.5 * 16 = 40px */
}

/*
3-vw,vh-
The vw (viewport width) and vh (viewport height) units are relative to the size of the viewport.
1vw = 1% of the viewport's width
1vh = 1% of the viewport's height
*/